@import "/src/styles/globals.scss";

.container {
  .grid {
    gap: 10px;
    display: grid;
  }

  .project {
    @extend .grid;
    position: relative;
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);

    .grid1 {
      @extend .grid;
      // grid-template-rows: calc(55% - 10px) 44%;
    }

    .grid2 {
      @extend .grid;
      // grid-template-rows: calc(40% - 10px) 50%;
    }
  }

  .entry {
    height: 100vh;
    background: linear-gradient(180deg, #1e1d3c 85%, #17162a 100%);
  }

  .backgroundImg {
    bottom: 10vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    height: 100vh !important;
    @media (min-width: 1400px) {
      bottom: 40vh;
    }
  }

  .skillGrid {
    gap: 10px;
    display: grid;
    margin: 12px 0px;
    justify-content: space-between;
    grid-template-columns: repeat(10, 1fr);
  }

  .experience {
    display: grid;
    padding-bottom: 160px;
    grid-template-columns: 50% 5px 50%;

    .grid1 {
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      padding: 24px;
      gap: 135px;
    }

    .grid2 {
      gap: 135px;
      width: 100%;
      display: flex;
      padding: 24px;
      padding-top: 135px;
      flex-direction: column;
      align-items: flex-start;
    }

    .line {
      height: auto;
      border-top-width: 0px;
      border-left-width: 4px;
      border: none !important;
      border-right-width: 0px;
      border-bottom-width: 0px;
      background-color: none !important;
      border-left: 4px dotted rgba(255, 255, 255, 0.444) !important;
    }
  }
}

.entryCard {
  gap: 10%;
  z-index: 100;
  display: grid;
  padding: 28px;
  margin-top: 5vh;
  min-height: 45vh;
  grid-template-columns: 40% 50%;
  .content {
    gap: 8px;
    display: flex;
    flex-direction: column;
  }
  .description {
    gap: 12px;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .buttons {
    gap: 12px;
    display: flex;
    margin-top: 24px;
    flex-direction: row;
  }
}

.cta {
  @include cta;
  display: flex;
  margin-top: 24px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}
